

.mainTitle {
    width: 100%;
    max-width: 372px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 35px;
    padding-left: 35px;
    background: linear-gradient(56deg, rgba(0,30,100,1) 0%, rgba(20,155,215,1) 50%, rgba(175,200,11,1) 100%);
    border-radius: 23px;
    margin-top: 45px;
    transform: rotate(-3deg);
}

.mainTitle__h1 {
    width: 100%;
    max-width: 302px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

@media (max-width: 575px) {
    .mainTitle__h1 {
        max-width: 200px;
        font-size: 25px;
    }

    .mainTitle {
        max-width: 280px;
    }
}